html, body {
	height: 100%;
}
body {
	padding-top: 50px;
	background: #edefff url('../Images/ncibackground2.jpg') repeat;
}
.panel-body {
	text-align: justify;
	text-justify: inter-word;
}
.page-header {
	text-align: center;
}
.panel > .panel-heading {
	background-image: none;
	background-color: #2a0744;
	color: white;
}
.well {
	background-image: none;
	background-color: #2a0744;
	color: white;
}
.img-portfolio {
	margin-bottom: 30px;
}
.img-hover:hover {
	opacity: 0.8;
}
* {
	margin: 0;
	padding: 0;
}
#login-form {
	margin: 5% auto;
	max-width: 500px;
}
/* home page */
#wrapper {
	padding-top: 50px;
}
header.carousel {
	height: 50%;
}
header.carousel .item, header.carousel .item.active, header.carousel .carousel-inner {
	height: 100%;
}
header.carousel .fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}
/* 404 Page Styles */

.error-404 {
	font-size: 100px;
}
/* Pricing Page Styles */

.price {
	display: block;
	font-size: 50px;
	line-height: 50px;
}
.price sup {
	top: -20px;
	left: 2px;
	font-size: 20px;
}
.period {
	display: block;
	font-style: italic;
}
/* Footer Styles */

footer {
	margin: 50px 0;
}

/* Responsive Styles */

@media (max-width: 991px) {
.customer-img, .img-related {
	margin-bottom: 30px;
}
}

@media (max-width: 767px) {
.img-portfolio {
	margin-bottom: 15px;
}
header.carousel .carousel {
	height: 70%;
}
    
}


h1, h2, h3, h4, h5, h6, a {
  margin:0; padding:0;
}
.login {
  margin:0 auto;
  max-width:500px;
}
.login-header {
  color:#fff;
  text-align:center;
  font-size:300%;
}
.login-header h1 {
   text-shadow: 0px 5px 15px #000;
}
.login-form {
  border:2px solid #999;
  background:#2c3e50;
  border-radius:10px;
  box-shadow:0px 0px 10px #000;
}
.login-form h3 {
  text-align:left;
  margin-left:40px;
  color:#fff;
}
.login-form {
  box-sizing:border-box;
  padding-top:15px;
  margin:50px auto;
  text-align:center;
	overflow: hidden;
}
.login input[type="text"],
.login input[type="password"] {
  width: 100%;
	max-width:400px;
  height:30px;
  font-family: 'Ubuntu', sans-serif;
  margin:10px 0;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
}
.login-form input[type="button"] {
  height:30px;
  width:100px;
  background:#fff;
  border:1px solid #f2f2f2;
  border-radius:20px;
  color: slategrey;
  text-transform:uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
}
.sign-up{
  color:#f2f2f2;
  margin-left:-400px;
  cursor:pointer;
  text-decoration:underline;
}
.no-access {
  color:#E86850;
  margin:20px 0px 20px -300px;
  text-decoration:underline;
  cursor:pointer;
}
.try-again {
  color:#f2f2f2;
  text-decoration:underline;
  cursor:pointer;
}

/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 530px){
  .login-form h3 {
    text-align:center;
    margin:0;
  }
  .sign-up, .no-access {
    margin:10px 0;
  }
  .login-button {
    margin-bottom:10px;
  }
}

/*Quiz*/
 .container{
        border: 1px solid black;
        padding: 20px;
        }
        
        .MyQ{
            font-size: 24px;
            font-weight: bold;
            padding: 10px;
        }
        .selAnswer{
            background-color: cadetblue;
            color: white;
        }
        .btnAns{
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
            display: block;
            font-size: 16px;
        }
        .btnAns:Hover{
            background-color: cornflowerblue;
            color: azure;
            }
        .endScore{
            font-size: 20px;
        }
        .quiz{
        border: 1px solid black;
        padding: 20px;
        }
        .MyQ{
            font-size: 24px;
            font-weight: bold;
            padding: 10px;
        }
        .selAnswer{
            background-color: cadetblue;
            color: white;
        }
        .btnAns{
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
            display: block;
            font-size: 16px;
        }
        .btnAns:Hover{
            background-color: cornflowerblue;
            color: azure;
            }
        .endScore{
            font-size: 20px;
        }
